<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<h1> Awesome SVN Chart</h1>
			<div id="placeholder" style="width:1000px;height:800px"></div>
		{% block content %}
		{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
			{% endblock %}
		</div>
		<script src="/static/bower_components/flot/jquery.js"> </script>
		<script src="/static/bower_components/flot/jquery.flot.js"> </script>
			<script>
				var plotData = {{ commits|safe }};
			</script>
	</body>
</html>
